{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
<div class="titrE">
    <h1 class="title">Edit User</h1>
        <a class="persoA" href="{{ path('patient_index') }}">Back</a>
</div>

    {{ include('patient/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
