{% extends 'base.html.twig' %}

{% block title %}New Treatment{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 title cen">
        Choose the DoctoCat's name</h1>
<div class="d-flex mini">
    <div class="w-50">
        {{ include('treatment/_form.html.twig') }}
    </div>
</div>

{% endblock %}
