.chocapic {
    filter: grayscale();
}
.bodi {
    width: 60%;
    align-self: center;
    background-color: white;
    margin-top: 7%;
    margin-bottom: 3%;
    padding: 3%;
}
body {
    background-color: #d9f1df;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.footer {
    color: white;
    text-align: center;
    padding-right: 2%;
    font-size: 12px;
}
.custom {
    font-weight: bold;
    color: #9A94BC;
}
.blabla {
    margin-top: 4%;
    font-size: 24px;
    font-family: 'Indie Flower', cursive;

}
.title {
    font-family: 'Gloria Hallelujah', cursive;
    margin-bottom: 3%;
}
.imgHome {
    width: 30%;
    text-align: center;
}
.home {
    display: flex;
    justify-content: center;
}
.bt-color {
    background-color: #FF5964;
}
.cen {
    text-align: center;
}
.mini {
    justify-content: center;
    margin-top: 3%;
}
.titrE {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}
.persoA {
    color: #9A94BC;
    margin-left: 3%;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
.bt-viol {
    background-color: #9A94BC;
    color: white;
}
.bt-viol:hover {
    color: white;
}
.persoPetit {
    color: #9A94BC;
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
}
.fondBulle {
    background-image: url("https://zupimages.net/up/20/26/0u2f.png");
    background-repeat: no-repeat;
    margin-top: 5%;
}
.truc {
    margin-top: 15%;


}
.POLICE {
    font-size: 24px;
    font-family: 'Indie Flower', cursive;
}