{% extends 'base.html.twig' %}

{% block title %}Totem{% endblock %}

{% block body %}

<div class="container">
    <h3>Nom : {{ totem.name }}</h3>
    <h3>Score : {{ totem.score }}</h3>
    <img src="{{ asset('assets/images/' ~totem.image.name~ '.png') }}" alt="totem picture">
</div>
{% endblock %}
