{% extends 'base.html.twig' %}

{% block title %}My badges{% endblock %}

{% block body %}

    <h1 class="chocapic">YOUPI !</h1>
    <img src="https://i.ibb.co/jgQTQ9c/029-medal-5.png" alt="jsaispasquoi">

{% endblock %}